<div class="about-us">
            <div class="our-history"></div>
            <div class="container">
                <h1>our history</h1>
                <p class="history col-sm-12">As professionals, we discovered there is sometimes a disconnect between managers and subordinates. We feel that in order to enhance the corporate environment, it is a team effort that should mainly be driven by managers. Every year managers get to review their direct reports, but managers never get the chance to get reviewed by their employees. This made us realize that it was time to create Uncoveredboss; a place where employees can rate their managers as well as recognize those great Leaders and help the Bosses improve their leadership.

                General Content Guidelines:

                Uncoveredboss allows users to contribute different kinds of content, including reviews, photos, videos, events, votes, tips, private messages, and more. Please remember you are first a professional; therefore, we expect you to express in a professional matter, but just in case we’ve put together these general guidelines.

                Inappropriate content: Colorful language and imagery is fine, but there’s no need for threats, harassment, lewdness, hate speech, and other displays of bigotry.
                Relevance: Please make sure your contributions are relevant and appropriate to the forum</p>
            </div>
            
            
        </div>