 <div class="faq">
            <div class="container">
                <h1>FAQ</h1>
                <ol>
                    <li>
                        <div class="question">Are my ratings anonymous?</div>
                        <div class="answer">Yes, ratings are anonymous. Even though you are signing in, it will not display any of your personal information once you post your rating.</div>
                    </li>
                    <li>
                        <div class="question">Why do I need to sign in to add or rate a manager?</div>
                        <div class="answer">
                            We want to make sure that is a real person who is adding the manager.  When rating someone, it simply helps us to try to maintain an accurate score of the Leaders and Bosses; if everyone could easily vote without signing in, it would skew the average.</div>
                    </li>
                    <li>
                        <div class="question">Would my manager be contacted if I add them using the Linkedin or company email?</div>
                        <div class="answer">Absolutely No! The reason we are asking for their Linkedin account is to help maintain accurate information and making sure the person is not added multiple times into our database. The company email is simply just in case your manager doesn’t have a Linkedin account, and he or she would not be contacted at all.</div>
                    </li>
                    <li>
                        <div class="question">What do I gained by rating or adding my manager into your database?</div>
                        <div class="answer">You are helping on balancing the playing field in Corporate America. The reason this site was built was with the intention of improving leadership. In addition, we want to recognize those leaders and companies that truly stand by their mission and what they promise to employees.</div>
                    </li>
                </ol>
            </div>
            
</div>