 <div class="container landing-area-text">
                <div class="container landing-area-title col-sm-12">
                    <h1>&#34It is not <span>titles</span> that honor men and women, but <span>men and women</span> that honor titles.&#34</h1>
                </div>
                <div class="container landing-area-paragraph col-sm-12">
                    <h3>Select Category Below and Search For Managers</h3>
                </div>
                <div class="container landing-area-select col-sm-10 col-sm-push-2 btn-group center-block">
                    <button type="button" class="btn btn-default ">Manager</button>
                    <button type="button" class="btn btn-default">Company</button>
                    <input type="search" name="name" class="search-input input-md" placeholder="e.g. Richard Branson or Virgin Atlantic">

                  
                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
                </div>
               
            </div>
        </div>
        <section class="main-page-text">
            <div class="container ">
                <p>If management has the authority to impact your career,then you should have the opportunity to impact management. Help us recognize the good leaders and improve management in Corporate America.</p>
            </div>
           
        </section>