 <div class="container landing-area-text">
                <div class="container landing-area-title col-sm-12">
                    <h1>&#34It is not <span>titles</span> that honor men and women, but <span>men and women</span> that honor titles.&#34</h1>
                </div>
                <div class="container landing-area-paragraph col-sm-12">
                    <h3>Select Category Below and Search For Managers</h3>
                </div>
                <div class="container landing-area-select col-xs-10 col-xs-push-2 col-sm-push-3  btn-group center-block">

<!-- 
                    <button type="button" class="btn btn-default ">Manager</button>
                    <button type="button" class="btn btn-default">Company</button>
 -->

                    <input type="search" name="name" class="search-input input-md" placeholder="e.g. Richard Branson or Virgin Atlantic" onkeyup="mainSearchAutoComplete(this)">
                    
                  <!--   <div class="form-group">
                    <div class="input-group input-group-lg">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Email" class="form-control search-input input-md" id="email">
                        <label for="email" class="glyphicon glyphicon-search" rel="tooltip" title="email"></label>
                    </div>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                    </div>
                  </div> -->

                    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>

                    <div id="resultMainSection1" style="background-color:white">
                                <ol id="listMain" class="col-xs-12">
                                </ol>
                    </div>
                </div>
               
            </div>
        </div>
        <section class="main-page-text">
            <div class="container ">
                <p>If management has the authority to impact your career,then you should have the opportunity to impact management. Help us recognize the good leaders and improve management in Corporate America.</p>
            </div>
           
        </section>

         <script>
            function mainSearchAutoComplete(ev){
                      //  CLEARS   RESULT DIV
                    var childrenLength=document.getElementById('listMain').children.length;
                    //console.log(childrenLength);
                    for(i=childrenLength-1;i>=0;i--){
                      document.getElementById('listMain').removeChild(document.getElementById('listMain').children[i]);
                    }

                    if(ev.value!==''){
                        var jsonToPost='{"searchQ":"'+ev.value+'","searchTyle":"manager"}'
                        //alert(jsonToPost);
                        xhr = new XMLHttpRequest();
                            //var url = document.location.origin+'/find';
                            var url='findManagers';
                            //alert(url);
                            xhr.open("POST", url, true);

                            xhr.setRequestHeader("Content-type", "application/json");
                            xhr.onreadystatechange = function () { 
                                if (xhr.readyState == 4 && xhr.status == 200) {
                                    responseJSON = JSON.parse(xhr.responseText);  
                                       console.dir(responseJSON);   
                                       var counter=0;   
                                       responseJSON.forEach(function(item){
                                        counter=counter+1;
                                          if(counter<11){
                                              var li=document.createElement('LI');
                                              var span=document.createElement('SPAN');
                                              var a=document.createElement('a');
                                              a.setAttribute('href','manager?id='+item.managerID);
                                              a.innerHTML=item.fullName+', '+item.possition +' at ' + item.currentCompany +' ('+item.department+')';
                                              span.appendChild(a);
                                              span.setAttribute("id", "span"+counter);
                                              
                                              //var p=document.createElement('P');
                                             // p.appendChild(document.createTextNode(item.translated));

                                              //p.innerHTML=item.translated;
                                              
                                              li.appendChild(span);
                                              //li.appendChild(p);



                                              document.getElementById('listMain').appendChild(li);
                                              }else{
                                                return null;
                                              }
                                       })    
                                }
                            }
                            xhr.send(jsonToPost);
                    
                    }
            }
        </script>