 <div class="search-result">
            <div class="container">
                <h2>search result</h2>
                <div class="result col-xs-12">
                    <div class="thumbnail">
                        <div class="centr">
                            <div class="profile-picture">
                               <a href="">
                                <img class="pull-left" src="https://media.licdn.com/mpr/mpr/shrink_100_100/p/2/000/0ff/0f6/10d64d4.jpg">
                                </a>
                                <div class="l-in">
                                     <a href="">View Linked<img src="/images/linkedin.svg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="info col-sm-6">
                            <ul>
                                <li><span>title :</span><span class="title">Senior Vice President</span></li>
                                <li><span>name :</span><span class="name">Eric Chu</span></li>
                                <li><span>department :</span><span class="department">Global Costing Analytics</span></li>
                                <li><span>company :</span><span class="company">Citigroup</span></li>
                            </ul>
                        </div>
                        <div class="view-manager-profile">
                            <a href=""><p>view profile <img src="/images/view-profile.svg"></p></a>
                        </div>
                    </div>
                </div>
                <div class="no-result">
                    <h2>Search :<span class="manager">manager</span><span class="search-word">name</span> Not Found</h2>
                </div>

            </div>
        </div>