<div class="blog">
            <section class="blog-title">
              <h1>BLOG</h1>
            </section>

            <section>
                <div class="container">
                    <div class="blog-post col-xs-8">

                        <time class="icon">
                            <em>2016</em>
                            <strong>September</strong>
                            <span>20</span>
                        </time>
                        <div class="blog-post-title">
                            <h1>Interviewing the Interviewer</h1>
                        </div>
                        <div>
                        <p>We have all gone through the arduous process of job hunting. In today’s economy, most of us are trying to</p></div>
                        <button class="btn read-more" type="submit">Read More<span class="glyphicon glyphicon-chevron-right">
                        </span></button>

                    </div>
                    <div class="blog-post col-xs-8">
                        <time class="icon">
                            <em>2016</em>
                            <strong>September</strong>
                            <span>20</span>
                        </time>
                        <div class="blog-post-title">
                            <h1>Interviewing the Interviewer</h1>
                        </div>
                        <p>We have all gone through the arduous process of job hunting. In today’s economy, most of us are trying to</p>
                        <button class="btn read-more" type="submit">Read More<span class="glyphicon glyphicon-chevron-right">
                        </span></button>

                    </div>
                    <div class="blog-post col-xs-8">
                        <time class="icon">
                            <em>2016</em>
                            <strong>September</strong>
                            <span>20</span>
                        </time>
                        <div class="blog-post-title">
                            <h1>Interviewing the Interviewer</h1>
                        </div>
                        <p>We have all gone through the arduous process of job hunting. In today’s economy, most of us are trying to</p>
                        <button class="btn read-more" type="submit">Read More<span class="glyphicon glyphicon-chevron-right">
                        </span></button>

                    </div>


                    <div class="posts col-xs-3">
                        <div class="most-read-posts">
                            <h3>most read posts</h3>
                            <a href=""><p>Interviewing the Interviewer</p></a>
                            <a href=""><p>Great Leadership Can Prevent Monday Heart Attacks</p></a>
                            <a href=""><p>Your Managers' Report Card</p></a>
                        </div>
                        <div class="recent-posts">
                            <h3>recent posts</h3>
                            <a href=""><p>Interviewing the Interviewer</p></a>
                            <a href=""><p>Great Leadership Can Prevent Monday Heart Attacks</p></a>
                            <a href=""><p>Your Managers' Report Card</p></a>
                        </div>
                    </div>
                </div>
            </section>

        </div>