 <div class="top-rank">
            <section class="top-rank-title col-xs-12">
                <h1>Top Ranked Managers From Over 1000+ Companies</h1>
            </section>
            <section class="data-table">
                <div class="container">
                    <div class="top-rank-search form-search form-horizontal">
                        <div class="top-rank-search-managers">
                            <input placeholder="Search..." type="search">
                            <button type="button" class="btn btn-md">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;
                            </button>
                        </div>
                        <div class="top-rank-entries">
                            <label class="radio-inline">
                                <input type="radio" name="optradio">10 Entries
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">25 Entries
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">50 Entries
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">100 Entries
                            </label>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Manager</th>
                                <th>Company</th>
                                <th>Recognition</th>
                                <th>Autonomy</th>
                                <th>Expectation</th>
                                <th>Mentorship</th>
                                <th>Reward</th>
                                <th>Avg Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=31">Daniel Collins</a></td>
                                <td>Liberty Mutual Insurance Group</td>

                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=28">Plator Ulqinaku</a></td>
                                <td>PricewaterhouseCoopers</td>

                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=33">Prasad Naga</a></td>
                                <td>PricewaterhouseCoopers</td>

                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=24">Michael Yokell</a></td>
                                <td>Lockheed Martin Corporation</td>

                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5.0</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=10">Terry Gallagher</a></td>
                                <td>SeaWorld Entertainment, Inc.</td>

                                <td>4.5</td>
                                <td>2.5</td>
                                <td>3.5</td>
                                <td>3.5</td>
                                <td>4.0</td>

                                <td>3.6</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=14">Paul Hagemaier</a></td>
                                <td>SeaWorld Entertainment, Inc.</td>

                                <td>5.0</td>
                                <td>3.0</td>
                                <td>2.0</td>
                                <td>4.0</td>
                                <td>4.0</td>

                                <td>3.6</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=11">Sabrina Van Ness</a></td>
                                <td>SeaWorld Entertainment, Inc.</td>

                                <td>4.5</td>
                                <td>3.5</td>
                                <td>1.5</td>
                                <td>2.5</td>
                                <td>2.5</td>

                                <td>2.9</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=25">Stacey Roney</a></td>
                                <td>Marriott Vacations Worldwide Corporation</td>

                                <td>3.0</td>
                                <td>1.0</td>
                                <td>2.0</td>
                                <td>4.0</td>
                                <td>4.0</td>

                                <td>2.8</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=29">Carlos Canizares</a></td>
                                <td>Frito Lay</td>

                                <td>3.0</td>
                                <td>2.0</td>
                                <td>3.0</td>
                                <td>2.0</td>
                                <td>1.0</td>

                                <td>2.2</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=23">Zoya Ivanova</a></td>
                                <td>Cornerstone Research</td>
                                <td>3.0</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>3.0</td>
                                <td>1.0</td>
                                <td>1.8</td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td><a href="/index.php?post_type=addcoboss&p=14&b=32">Kelley Emmons</a></td>
                                <td>Jp morgan chase</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>1.0</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="top-rank-bottom">
                        <div class="top-rank-entries-total">
                            <span>Showing 1 to 10 of 11 entries</span>
                        </div>
                        <div class="top-rank-pager">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">&laquo;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>